/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background: #F2F2F2;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-container{
  flex-grow: 1;
}

/* Header */

.page-header {
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  visibility: hidden;
}

.navigation-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.navigation-button-link{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: none;
  text-transform: uppercase;
}

.likes-counter{
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color:#000000
}

.advantages-header-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-header-text{
  font-size: 22px;
  line-height: 26px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.button-search-link,
.button-subscription{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration-line: none;
  text-transform: uppercase;
}



/* Backgrounds */

.title-section{
  background: #83b3d3;
  background-image: url(../images/title-background.jpg);
  background-repeat: no-repeat;
}

.house-icon{
  background-image: url('../images/icons/house-icon.svg');
  background-repeat: no-repeat;
}

.hamburger-icon{
  background-image: url('../images/icons/hamburger-icon.svg');
  background-repeat: no-repeat;
}

.gift-icon{
  background-image: url('../images/icons/gift-icon.svg');
  background-repeat: no-repeat;
}

.vk-icon{
  background-image: url('../images/icons/vk-icon.svg');
}

.telegram-icon{
  background-image: url('../images/icons/telegram-icon.svg');
}

.youtube-icon{
  background-image: url('../images/icons/youtube-icon.svg');
}

.button-table{
  background-image: url('../images/icons/sort1-icon.svg');
}

.button-slideshow{
  background-image: url('../images/icons/sort2-icon.svg');
}

.button-list{
  background-image: url('../images/icons/sort3-icon.svg');
}

.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color:#000000;
}
