/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Colors */

.light-color1 {
  background-color: #f0f6fa;
}

.light-color2 {
  background-color: #e6f0f6;
}

.dark-color {
  background-color: #82b3d3;
}

.color4 {
  color: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-container{
  flex-grow: 1;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 8px 0;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

/* Header */

.page-header {
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  margin-bottom: -20px;
}

.navigation-list {
  display: flex;
  max-width: 480px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}


.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.navigation-user-link {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0;
}

.navigation-link-search {
  background-image: url('../images/icons/seach_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-favorites {
  background-image: url('../images/icons/favorites-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.likes-counter {
  font-size: 10px;
  line-height: 10px;
  background-color: green;
  border-radius: 50%;
  padding: 5px;
  color: white;
  position: absolute;
  right: 0;
}

.button-brown {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 5px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
}

/* Advantages */

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.advantages-item {
  width: 400px;
  box-sizing: border-box;
  padding: 150px 50px 100px;
}

.advantages-item-image {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  visibility: hidden;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-button-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: none;
  text-transform: uppercase;
}

.advantages-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 282px;
}

.advantages-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-header-text {
  font-size: 22px;
  line-height: 26px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.button-search-link {
  display: inline-block;
  padding: 8px 50px;
  border-radius: 5px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
}


/* Backgrounds */

.title-section {
  width: 1200px;
  height: 485px;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #83b3d3;
  background-image: url('../images/title-background.jpg');
  background-repeat: no-repeat;
}

.house-icon {
  background-image: url('../images/icons/house-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 20px;
}

.hamburger-icon {
  background-image: url('../images/icons/hamburger-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 20px;
}

.gift-icon {
  background-image: url('../images/icons/gift-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 20px;
}

.search {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 16px 0;
  padding: 80px 34px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
}

.subscription {
  width: 1200px;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #83b3d3;
  background-image: url('../images/subscription-background.jpg');
  background-repeat: no-repeat;
}

.subscription-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscription-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.subscription-email {
  width: 452px;
  padding: 14px 20px;
  border-radius: 5px;
}

.subscription-button {
  padding: 8px 50px;
  border-radius: 5px;
  line-height: 36px;
  text-decoration-line: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  font-family: inherit;
}

.footer {
  height: 120px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.footer-social-list {
  display: flex;
  max-width: 480px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}

.vk-icon {
  background-image: url('../images/icons/vk-icon.svg');
  display: inline-block;
  height: 35px;
  width: 35px;
}

.telegram-icon {
  background-image: url('../images/icons/telegram-icon.svg');
  display: inline-block;
  height: 35px;
  width: 35px;
}

.youtube-icon {
  background-image: url('../images/icons/youtube-icon.svg');
  display: inline-block;
  height: 35px;
  width: 35px;
}

.button-table {
  background-image: url('../images/icons/sort1-icon.svg');
}

.button-slideshow {
  background-image: url('../images/icons/sort2-icon.svg');
}

.button-list {
  background-image: url('../images/icons/sort3-icon.svg');
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color:#000000;
}

/*Catalog Page*/

.filter-wrapper {
  min-height: 412px;
  padding: 35px 70px 70px 70px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/catalog-header-background.jpg");
  background-repeat: no-repeat;
}

.catalog-title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}


.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  min-height: 104px;
}

.filter-button {
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  border: none;
}

.reset-button {
  background: none;
}

/* Results */

.catalog-results {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  align-self: center;
}

.cards-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 40px;
}

.card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px;
  box-sizing: border-box;
  min-height: 428px;
  padding: 20px;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
}

.card-type,
.card-price {
  font-size: 18px;
  line-height: 21px;
  color: green;
}



/* Pagination */

.pagination {
  font-size: 20px;
  line-height: 36px;
  display: flex;
  gap: 8px;
  margin: 80px;
}

.pagination-link {
  box-sizing: border-box;
  min-width: 60px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-spacing {
  min-width: 60px;
  padding: 12px 0;
  text-align: center;
}

.subscription-catalog {
  width: 1200px;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color:#000000;
}

.subscription-title-catalog {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.subscription-text-catalog {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
