/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Colors */

.color1 {
  background-color: #f0f6fa;
}

.color2 {
  background-color: #e6f0f6;
}

.color3 {
  background-color: #82b3d3;
}

.color4 {
  color: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background: #F2F2F2;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-container{
  flex-grow: 1;
  text-align: center;
}

/* Header */

.page-header {
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  margin-bottom: -20px;
}

.navigation-list {
  display: flex;
  max-width: 480px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}


.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.navigation-user-link {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0;
}

.navigation-link-search {
  background-image: url('../images/icons/seach_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.likes-counter {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background-color: green;
  border-radius: 50%;
  padding: 5px;
  color: white;
  position: absolute;
  right: 0;
}

.navigation-link-favorites {
  background-image: url('../images/icons/favorites-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.button-brown {
  display: inline-block;
  width: 92px;
  height: 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
}

/* Advantages */

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.advantages-item {
  padding-top: 90px;
  width: 400px;
  height: 384px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  visibility: hidden;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-button-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: none;
  text-transform: uppercase;
}


.advantages-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-header-text {
  font-size: 22px;
  line-height: 26px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.button-search-link,
.button-subscription {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration-line: none;
  text-transform: uppercase;
}



/* Backgrounds */

.title-section {
  width: 1200px;
  height: 485px;
  background: #83b3d3;
  background-image: url('../images/title-background.jpg');
  background-repeat: no-repeat;
}

.house-icon {
  background-image: url('../images/icons/house-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 20px;
}

.hamburger-icon {
  background-image: url('../images/icons/hamburger-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 20px;
}

.gift-icon {
  background-image: url('../images/icons/gift-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 20px;
}

.vk-icon {
  background-image: url('../images/icons/vk-icon.svg');
  display: inline-block;
  height: 35px;
  width: 35px;
}

.telegram-icon {
  background-image: url('../images/icons/telegram-icon.svg');
  display: inline-block;
  height: 35px;
  width: 35px;
}

.youtube-icon {
  background-image: url('../images/icons/youtube-icon.svg');
  display: inline-block;
  height: 35px;
  width: 35px;
}

.button-table {
  background-image: url('../images/icons/sort1-icon.svg');
}

.button-slideshow {
  background-image: url('../images/icons/sort2-icon.svg');
}

.button-list {
  background-image: url('../images/icons/sort3-icon.svg');
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color:#000000;
}
